---
import H1 from "../components/h1.astro";
import Link from "../components/link.astro";
import Navigation from "../components/navigation";
import RootLayout from "../layouts/RootLayout.astro";
import GrainGradientBackground from "../components/graingradient-background";
---

<RootLayout>
	<main>
		<div class="group relative w-full min-h-dvh flex items-center justify-center">
<div class="absolute inset-0 -z-10">
  <GrainGradientBackground
    client:only="react"
    width={1280}
    height={720}
    colors={["#ffcca8", "#08062d", "#000000"]}
    colorBack="#020209"
    softness={1}
    intensity={0.69}
    noise={0.5}
    shape="ripple"
    speed={1.48}
    scale={2.36}
    offsetX={-1}
    offsetY={-0.82}
    style={{ width: "100%", height: "100%" }}
  />
</div>

<div class="p-4 sm:p-8 absolute w-full h-dvh flex flex-col justify-between z-10">
  <div>
    <H1 size="large">Jan Paweł Przegendza</H1>
  </div>

<div class="w-full flex justify-end">
  <div class="hidden md:flex items-center gap-4">
    <Link href="/works" variant="secondary">Works</Link>
    <Link href="/about" variant="secondary">About</Link>
    <Link href="/events" variant="secondary">Events</Link>
    <Link href="/news" variant="secondary">News</Link>
    <Link href="/photos" variant="secondary">Photos</Link>
    <Link href="/media" variant="secondary">Media</Link>
    <Link href="/contact" variant="secondary">Contact</Link>
  </div>
<div class="md:hidden">
  <div class="fixed left-4 bottom-6 sm:left-8 sm:bottom-8 z-50 flex items-center gap-4">
    <Link href="/works">Works</Link>
    <Link href="/about" variant="secondary">About</Link>
  </div>
<Navigation client:load>
  <Link href="/works" variant="secondary">Works</Link>
  <Link href="/about" variant="secondary">About</Link>
  <Link href="/events" variant="secondary">Events</Link>
  <Link href="/news" variant="secondary">News</Link>
  <Link href="/photos" variant="secondary">Photos</Link>
  <Link href="/media" variant="secondary">Media</Link>
  <Link href="/contact" variant="secondary">Contact</Link>
</Navigation>
</div>
</div>
</div>
	</main>
</RootLayout>
