backend:
  name: github
  repo: ardynaskela/jan-przegendza
  branch: master
  site_domain: jan-przegendza.vercel.app
  base_url: https://jan-przegendza.vercel.app
  auth_endpoint: oauth

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/content/blog"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
