---
import RootLayout from "./RootLayout.astro";
import Footer from "../components/footer.astro";

const { title, description } = Astro.props;

const pathname = Astro.url.pathname;
---

<RootLayout title={title} description={description}>
	<div class="flex flex-col md:flex-row relative gap-4 w-full max-w-screen-xl">
<nav class="relative w-full md:min-w-2xs xl:min-w-sm sm:min-h-screen sm:ml-4 sm:pb-4">
  <!-- MOBILE: zdjęcie nad treścią -->
  <div
    class="md:hidden w-full h-64 rounded-3xl overflow-hidden bg-cover bg-center"
    style="background-image: url('/uploads/jan-przegendza.jpg');"
  ></div>

  <!-- TABLET+DESKTOP: zostaje pasek po lewej -->
<div
  class="hidden md:block w-full h-full md:max-w-xs lg:max-w-md xl:max-w-lg fixed -z-10 sm:bottom-4 sm:rounded-b-full overflow-hidden bg-cover bg-center"
  style="background-image: url('/uploads/jan-przegendza.jpg');"
></div>
</nav>

		<main class="relative"  >
			<slot />
			<Footer />
		</main>


	</div>
</RootLayout>
